@model IEnumerable<IgorMarinho_WebApp.acc_trans>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <table style="width:100%;">
        <tr>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
        @*<th>
            @Html.DisplayNameFor(model => model.acc_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outs_total)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.acc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outs_total)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.acc_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.acc_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.acc_id })
        </td>
    </tr>
}

</table>
